.transactionHistory {
   min-width: 600px;
   box-shadow: 0 0 10px #c6cccced;
}

.transactionHistory > thead > tr{
   background-color: #20B2AA;
}

th {
   width: calc(100%/3);
   padding: 10px 0 10px;
}
