.name {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
   justify-content: center;
   padding: 15px 0 15px;
   color: white;
}

.label {
   font-weight: 500;
}

.percentage {
   font-size: 25px;
   font-weight: 700;
}