.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 10px #c6cccced;
  padding-top: 10px;
  margin: 0 auto;
width: 370px;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
}

.statlist {
  width: inherit;
  display: flex;
  justify-content: center;
  padding: 0;
}
